.subListContainer {
    position: relative;
    top:0;
    right: 0;
    visibility: hidden;
  }
  
  .subListContainer.visible {
    visibility: visible;
  }
  
  .subList {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 0.8rem; 
    background-color:#180F2E;
    opacity: 0.95;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    justify-content: center;
  }
  