.sub-list-item {
    padding-top: 0.5rem; 
    padding-right: 0.75rem; 
    padding-bottom: 0.5rem; 
    padding-left: 0.75rem; 
    transition: all 0.3s;
  }
  
  .sub-list-item:hover {
    background-color: blueviolet;
  }
  
  .sub-list-item.rounded-t {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }
  
  .sub-list-item.rounded-b {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
  
  .sub-list-item.opacity-100 {
    opacity: 1;
    cursor: pointer;
  }
  
  .sub-list-item.opacity-0 {
    opacity: 0; 
    cursor: default;
  }