.desktopNavCointainer{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    background-color:  #180F2E;
}
.logoSmallContainer{
    display: flex;
    justify-content: left;
    padding-left: 3rem;
}
.logoSmall{
    width: 35%;
    height: auto;
}
.listContainer{
    display:flex;
    justify-content: center;
}