.footerContainer {
    display: flex;
    background-color:  #180F2E;
  }
  .logoSocialContainer {
    flex: 0.6;
    background-color:  #180F2E;
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }
    .logoContainer{
        display: flex;
        justify-content: center;
        background-color:  #180F2E;
        padding: 5px;
    }
        .imageLogo{
            width: 70%;
            height: auto;
        }

    .socialContainer{
        border: 1px solid #000;
        border-right: transparent;
        border-left: transparent;
        border-top: transparent;
        border-bottom: transparent;
        position: relative;
        background-color: #180F2E;
        padding: 5px;
        grid-template-rows: 1fr 1fr;    
    }
    .socialContainer::before {
        content: "";
        position: absolute;
        top:  12px;
        left: -10px;
        width: 2px;
        height: 86%;
        background-color: #ffffff;
      }
      .displayButtonONLY{
        display: contents;
      }
        .socialContainer1{
            display: flex;
            justify-content: center;
            background-color: #180F2E;
            margin-top: 20px;
            
        }
        .socialContainer2{
            display: flex;
            justify-content: center;
            background-color: #180F2E;
        }
        .imageSocial{
            width: 100%;
            height: auto;   
        }
        .imageSocialButton{
            border: none;
            background: none;
            cursor: pointer;
            padding: 0;
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            width: 20%;
            margin: 3px 3px 3px 3px;
            transition: transform 0.2s, box-shadow 0.2s;
        }
        .imageSocialButton:hover {
            transform: scale(1.1); 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          }
  .sponsorContainer {
    flex: 1;
    background-color: #180F2E;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
  }
    .sponsorSmall {
        display: flex;
        justify-content: center;
    }
        .imageSponsorS {
            width: 12%;
            max-width: 100%;
            height: auto;
            margin-right: 10px;
        }
        .imageSponsorS:last-child {
            margin-right: 0;
          }
    .sponsorBig {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top:  20px;
    }
        .imageSponsorB {
            width: 18%;
            max-width: 100%;
            height: auto;
            margin-right: 10px;
        }
        .imageSponsorB:last-child {
            margin-right: 0;
        }
        .imageThermofisher {
            width: 24%;
            margin-right: 10px;
        }